:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --tally-color-blue-600: #004c8a;
  --tally-color-blue-100: #ecf6ff;
  --tally-box-shadow: 0px 0px 5px -3px black;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.main-container {
  display: grid;
  grid-template-rows: 50px auto 50px;
  background-color: white;
  height: 100dvh;
}

.head-container {
  box-shadow: 0px -9px 12px 1px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 1rem;
  position: relative;
}

.head-container .main-menu {
  font-size: 1.5rem;
}

.body-container {
  padding: 1rem;
  background-color: var(--tally-color-blue-100);
}

.action-footer {
  box-shadow: var(--tally-box-shadow);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1.5rem;
}

button {
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container .modal-content {
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.modal-container .modal-content .close-modal {
  flex: 0 0 25px;
  align-self: flex-end;
  padding-bottom: 10px;
}

.modal-container.fullscreen .modal-content {
  height: 100dvh;
  width: 100dvw;
}

.main-menu-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.main-menu-list  li {
  border: solid 1px black;
}

